@model Arnet.Web.Models.Account.ManageViewModel
@{
    Layout = "_ManageLayout.cshtml";
    ViewData["Title"] = "Профиль";
}
@if (Model.Account.AccountType.Type != Arnet.Database.AccountTypesEnum.User)
{
    <div class="form-group">
        <label>Тип аккаунта</label>
        <input class="form-control" disabled asp-for="Account.AccountType.Type" />
    </div>
}
<div class="form-group">
    <label>Имя</label>
    <input class="form-control" disabled asp-for="Account.FirstName" />
</div>
<div class="form-group">
    <label>Фамилия</label>
    <input class="form-control" disabled asp-for="Account.SecondName" />
</div>
@if (!string.IsNullOrWhiteSpace(Model.Account.MiddleName))
{
    <div class="form-group">
        <label>Отчество</label>
        <input class="form-control" disabled asp-for="Account.MiddleName" />
    </div>
}
@if (Model.Email != null)
{
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" disabled asp-for="Email.Value" />
    </div>
}
<div class="form-group">
    <label>Телефон</label>
    <input class="form-control" disabled asp-for="Phone.Number" />
</div>